body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: 'Raleway', sans-serif;
  color: white;
}

.nav {
  background: #111827;
  height: 48px;
}

.footer {
  background: #111827;
  height: 48px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  height: calc(100vh - 96px) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.5px;
}

.content .tittle {
  text-align: center;
  font-weight: 330 !important;
  font-size: 3.5rem !important;
}

.content .subtitle {
  text-align: center;
  font-size: 1rem !important;
}

.content .example {
  text-align: center;
  font-weight: 300 !important;
  font-size: 1.5rem !important;
  padding: 0;
  color: #0DA3E7;
}

.content .example .green {
  color: #A3E635;
}

.content .input_elements input {
  height: 9vh;
  width: 63vw;
  padding: 0 3vw;
  background: #9CA3AF;
  border: none;
  border-radius: 2rem;
  font-size: 1.2rem !important;
  color: white;
}

.content .input_elements input:focus {
  outline: none;
  border: none;
}

.content .input_elements input:active {
  outline: none;
  border: none;
}

.content .input_elements button {
  background: #21ACEB;
  outline: none;
  border: none;
  color: white;
  font-weight: 500;
  text-shadow: 0 0 111px 10px black;
  border-radius: 0.2rem;
  padding: 2vh 2vw;
  -webkit-box-shadow: 0 0 0.15rem 0.1px #444;
          box-shadow: 0 0 0.15rem 0.1px #444;
  position: absolute;
  margin-top: 1.2vh;
  right: 17vw;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  cursor: pointer;
}

.content .input_elements button:hover {
  background: #46bbf1;
  -webkit-box-shadow: 0 0 0.2rem 0.1px #444;
          box-shadow: 0 0 0.2rem 0.1px #444;
}

.content .input_elements button:focus {
  outline: none;
  border: none;
}

.content .input_elements button:active {
  outline: none;
  border: none;
}

.content .urlOut {
  background-color: #1E1E1E;
  width: 40vw;
  border-left: 1vh solid #9333EA;
  border-radius: 0.3rem;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}


.content .urlOut p {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: 300 !important;
}

.content .urlOut .link {
  color: #A3E635;
  font-weight: 500;
}

.content .urlOut:hover {
  border-left: 1vh solid #a94eff;
}

.content a {
  border: none;
  outline: none;
  text-decoration: none;
}

.content .urlOut_err {
  background-color: #1E1E1E;
  width: 40vw;
  border-left: 1vh solid #c50404;
  border-radius: 0.3rem;
  cursor: pointer;
  text-align: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.content .urlOut_err p {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: 300 !important;
}

@media (max-width: 700px) {
  .content {
    height: auto;
    padding: 5vh 0 10vh 0 !important;
  }
  .content .input_elements input {
    width: 83vw !important;
  }
  .content .input_elements button {
    right: 10vw !important;
  }
  .content .urlOut {
    width: 80vh;
    padding: 0.5vh 0;
  }
}